USE [HotelJob]
GO
/****** Object:  Table [dbo].[Time]    Script Date: 11/06/2013 21:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[timeID] [int] IDENTITY(1,1) NOT NULL,
	[timeInfo] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Time] PRIMARY KEY CLUSTERED 
(
	[timeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Time] ON
INSERT [dbo].[Time] ([timeID], [timeInfo]) VALUES (1, N'Chua co gi')
INSERT [dbo].[Time] ([timeID], [timeInfo]) VALUES (2, N'Hành chính')
INSERT [dbo].[Time] ([timeID], [timeInfo]) VALUES (3, N'Làm theo ca')
SET IDENTITY_INSERT [dbo].[Time] OFF
/****** Object:  Table [dbo].[Positions]    Script Date: 11/06/2013 21:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[positionID] [int] IDENTITY(1,1) NOT NULL,
	[positionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[positionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Positions] ON
INSERT [dbo].[Positions] ([positionID], [positionName]) VALUES (1, N'Chua co gi')
INSERT [dbo].[Positions] ([positionID], [positionName]) VALUES (2, N'Sales/ Marketing/ Guest Relation')
INSERT [dbo].[Positions] ([positionID], [positionName]) VALUES (3, N'Lễ tân/ Thu ngân/ Đặt phòng/ Tổng đài/ BC')
SET IDENTITY_INSERT [dbo].[Positions] OFF
/****** Object:  Table [dbo].[Jobs]    Script Date: 11/06/2013 21:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[jobID] [int] NOT NULL,
	[jobName] [nvarchar](500) NULL,
	[salary] [nvarchar](100) NULL,
	[description] [nvarchar](1000) NULL,
	[required] [nvarchar](1000) NULL,
	[deadline] [nvarchar](50) NULL,
	[domainID] [int] NULL,
	[domainName] [nvarchar](500) NULL,
	[number] [nvarchar](500) NULL,
	[companyID] [int] NULL,
	[cityID] [int] NULL,
	[cityName] [nvarchar](500) NULL,
	[positionName] [nvarchar](500) NULL,
	[positionID] [nvarchar](5) NULL,
	[timeID] [int] NULL,
	[timeInfo] [nvarchar](500) NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[jobID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Table [dbo].[Domain]    Script Date: 11/06/2013 21:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domain](
	[domainID] [int] IDENTITY(1,1) NOT NULL,
	[domainName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[domainID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Domain] ON
INSERT [dbo].[Domain] ([domainID], [domainName]) VALUES (1, N'Quang')
INSERT [dbo].[Domain] ([domainID], [domainName]) VALUES (2, N'sa')
INSERT [dbo].[Domain] ([domainID], [domainName]) VALUES (3, N'sd')
SET IDENTITY_INSERT [dbo].[Domain] OFF
/****** Object:  Table [dbo].[Companies]    Script Date: 11/06/2013 21:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[companyID] [int] NOT NULL,
	[companyName] [nvarchar](200) NOT NULL,
	[information] [nvarchar](1000) NULL,
	[address] [nvarchar](200) NULL,
	[contact] [nvarchar](500) NULL,
	[email] [nvarchar](500) NULL,
	[phone] [nvarchar](500) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[companyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Companies] ([companyID], [companyName], [information], [address], [contact], [email], [phone]) VALUES (1005, N'Tập đoàn Al Frescos tuyển nhân viên www.alfrescosgroup.com', N'Tập đoàn Al frescos chuyên kinh doanh trong lĩnh vực nhà hàng. Hiện đã có 20 nhà hàng tại hà Nội với những thương hiệu nổi tiếng là Jaspas,Al Frescos và Pepperonis,Papa Joes.', N'23L Hai Bà Trưng', N'Trần Bích Nhung', N'hr@alfrescosgroup.com', N'0904717388')
INSERT [dbo].[Companies] ([companyID], [companyName], [information], [address], [contact], [email], [phone]) VALUES (1006, N'Hệ thống nhà hàng cà phê Sen', N'Hệ thống nhà hàng cà phê chúng tôi gồm có một chuỗi quán cà phê sân vườn,cà phê thức ăn nhanh,Nhà hàng đặc sản Phan Thiết Bánh Căn-Bánh Xèo.Hiện chúng tôi đang cần những ứng viên tâm huyết và yêu nghề phục vụ khách hàng', N'6/1 Nguyễn Huy Tưởng,phường 6,Quận Bình Thạnh', N'Thành', N'sencafe01@gmail.com', N'0932.448.320')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[City]    Script Date: 11/06/2013 21:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityID] [int] NOT NULL,
	[cityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[City] ([cityID], [cityName]) VALUES (1, N'An Giang')
INSERT [dbo].[City] ([cityID], [cityName]) VALUES (2, N'Bà Rịa - Vung Tàu')
INSERT [dbo].[City] ([cityID], [cityName]) VALUES (3, N'Bình Duong')
